#header.cloned {
    display: none;
}
.inner-pages .form-control {
    padding: 0.7rem;
    border: 1px solid #dddddd !important;
}

.mt-44{
    margin-top: 10px !important;
}
.fa-calender{
    color: #696969 !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 17px + 2px) !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.request{
    /* background-color: #eeeeee; */
    border: 1px solid #495057 !important;
}
.request h4 {
 font-size: 15px;
 color: red;
}


.other{
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

.mail{
    border: 0px;
    padding: 0.8rem;
    background: #ff385c;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0px !important;
    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.mySlides {
    display: none;
}

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer;
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0;
}

.sponsor{
  
    width: 100%;
    margin-top: 15px;
    padding: 10px 30px;
    text-transform: capitalize;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.search-title{
    margin:15px 0;
    color:#ff385c;
    font-weight: 500;
    font-size: 29px;
}